
.fa {
    color: #0af
    
    
}

.highlight{
    
    color: #FFFFFF ;
}

.sis{
    
    font-size: 60px;
    text-align: center;
    margin: 50px
    
    
    
     
}

.cont{
    
    background-color: #aaedff;
    margin: 1px ;
}



